<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zarządzanie Produkcją</title>
<style>
       
    </style>
</head>
<body>
    <h1>Zarządzanie Produkcją</h1>

    <ul>
         <li><a href="/AssignmentOrders/Index" class="button">Trwające Zlecenia</a></li>
         <li><a href="/ProductionOrder/Index" class="button">Planowane Zlecenia</a></li>
        <li><a href="/Product/Index" class="button">Zamówienione Produkty</a></li>
        <li><a href="/Employee/Index" class="button">Dostępni Pracownicy</a></li>
        <li><a href="/Machine/Index" class="button">Dostępne Maszyny</a></li>
    </ul>
</body>
</html>